* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: AppleGothic, Helvetica, Arial, sans-serif;
}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 24px;
  justify-content: center;
  min-height: 100vh;
}

#img {
  display: block;
  margin: auto;
  height: 128px;
  width: 128px;
  padding: 2rem;
}

#canvas {
  display: block;
  margin: 2rem auto;
  width: 540px;
  height: 540px;
}

#list {
  list-style: none;
  padding: 0;
}

form input[type="text"] {
  width: 25rem;
  padding: 0.5rem;
  font-size: 1.25rem;
  line-height: 1.5rem;
}

form button {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  margin-left: 0.5rem;
  cursor: pointer;
}